<footer fxLayout='row' fxLayoutAlign='center'>
    <nav fxFlex='30' fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='10px'>
        <a href="https://github.com/leandrofreires/dev-jobs-community" mat-raised-button>
            <mat-icon><img width="24px" src="../../assets/github-circle-black-transparent.svg" alt=""></mat-icon>
            Follow Project
        </a>
        <a rel="nofollow,noreferrer" referrerpolicy="no-referrer" target="_blank" mat-button title="phatplus" href="https://www.flaticon.com/br/autores/phatplus">Icons created by phatplus</a>
    </nav>
</footer>