<footer fxLayout='row' fxLayoutAlign='center'>
    <nav  fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='10px'>
            <mat-icon><img alt="logo of github" src="../../assets/github-circle-black-transparent.svg" alt=""></mat-icon>
            <a aria-label="Follow project on Github" rel="noreferrer nofollow" target="blank" href="https://github.com/leandrofreires/dev-jobs-community" mat-button class="mat-body-strong">Follow Project</a>
            <div class="mat-body-strong">© 2020 🚀 Dev Jobs Community</div>
    </nav>
</footer>