<mat-accordion class="mat-elevation-z6">
    <mat-expansion-panel *ngFor="let issue of issues | search: search" >
        <mat-expansion-panel-header #paneHeader>
            <mat-panel-title [ngClass.lt-md]="{'issue-title': paneHeader._getExpandedState() === 'collapsed'? true :  false}">
                {{issue.title}}
            </mat-panel-title>
            <mat-panel-description>
                <span fxFlex='auto'></span>
                <mat-chip-list fxHide [fxShow.gt-md]="paneHeader._getExpandedState() === 'collapsed'? true :  false" >
                    <mat-chip *ngFor="let label of issue.labels | slice:0:5" color="accent" selected>{{label.name}}</mat-chip>
                </mat-chip-list>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p fxLayoutAlign='start center' fxLayoutGap='10px'> <mat-icon>today</mat-icon> <span>{{issue.created_at | date }}</span> </p>
        <mat-chip-list>
            <mat-chip *ngFor="let label of issue.labels" color="accent" selected>{{label.name}}</mat-chip>
        </mat-chip-list>
        <br>
        <mat-divider></mat-divider>
        <br>
        <markdown ngPreserveWhitespaces>
            {{issue.body}}
        </markdown>
    </mat-expansion-panel>
</mat-accordion>

