<section fxLayout="column" style="padding: 30px 73px;" fxLayoutGap="43px">
    <h1>About this project</h1>
    <p>
        The real motive for create this project is apply my knowledge in development and studies automated tests using angular framework, and help the community.
    </p>
    <p>
        This is my first project where i apply the best pratics the development, so don't expect me to get it right the first time, feel free to help me, I'll be very happy.
    </p>
    <h1>The project</h1>
    <p>
        This project is to bring together the github repositories with offers of vacancies available in different areas, the repositories currently listed by this site are:
    </p>
    <ul>
        <li>qa-brasil/vagas</li>
        <li>uxbrasil/vagas</li>
        <li>frontendbr/vagas</li>
        <li>backend-br/vagas</li>
    </ul>
    <p>
        I chose these repositories because they follow a friendly pattern
    </p>
    <h1>Difficulties</h1>
    <p>
        My first difficulty, for sure was the definition of the ui, despite being a simple project i have a great difficulty in designing interfaces, this was one of the reasons for adopting material design as a ui kit.
    </p>
    <h1>Technical details</h1>
    <p>
        Due to the fact that github provides a REST api accessing the repository data was an easy task, however I am still deciding what is the best way and drawing them on the screen without affecting performance, as the integration with GraphQL requires authentication, from the user, initially this step will be for a second moment.
The site is hosted on firebase hosting and if it integrates with GraphQL from github, I will use firebase functions for this task.
    </p>
    <h1>Assets</h1>
    <p>
        Are images used from freepick database and all intellectual rights are reserved for them.
logo icon powered by phatplus https://www.flaticon.com/br/autores/phatplus
isometric design is powered by pikisuperstar https://br.freepik.com/pikisuperstar
    </p>
</section>