<mat-sidenav-container fxFill>
  <mat-sidenav mode="over" (openedChange)="sidenavStatus=$event" [opened]="sidenavStatus" id="sidenav">
    <mat-toolbar color='primary'>
      <mat-toolbar-row style="height: auto; padding-top: 16px;" fxLayoutAlign='center center'>
      <img height="200px" src="../assets/logo.svg" alt="">
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign='center center'>
        <span>Dev Jobs Community</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/">
        <mat-icon matListIcon color='primary'>home</mat-icon>
          <h1 matLine> Home </h1>
      </mat-list-item>
      <mat-list-item routerLink="/jobs">
        <mat-icon matListIcon color='primary'>next_week</mat-icon>
          <h1 matLine> Jobs </h1>
      </mat-list-item>
      <mat-list-item routerLink="/jobs">
        <mat-icon matListIcon color='primary'>amp_stories</mat-icon>
          <h1 matLine> Blog </h1>
      </mat-list-item>
      
    
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout='column'>
    <app-header (sidenavEvent)="sidenavStatus = !sidenavStatus"></app-header>
    <main fxFlex='auto'>
      <router-outlet></router-outlet>
    </main>
    <span fxFlex='1 1 auto'></span>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>