<section fxLayout='column' fxLayoutGap='10px'>
    <header fxLayoutAlign='start center' class='header-page'>
        <h1>Jobs List</h1>
    </header>
    <section style="padding: 16px;" fxLayoutGap='10px' fxLayout='column'>
    <mat-card>
        <mat-form-field appearance="outline">
            <mat-label>Search on jobs your skills</mat-label>
            <input matInput type="search" placeholder="Filter by your skills">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-card>

    <app-jobs-list></app-jobs-list>
    </section>
    
</section>