<header class="header-page" style="height: 457px;" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex='50' fxFlex.lt-md=90 appearance="outline" class="search-box">
        <mat-label>Search by skills</mat-label>
        <input matInput placeholder="Example: Remoto, Nodejs, Angular">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
</header>
<section fxLayout="row" fxLayoutAlign="center center">
   <app-jobs-list fxFlex=90 style="margin-top: -100px;"></app-jobs-list>
</section>