
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//define theme custom color schema
$mat-app-blue: (
  500: #57a4ff,//primary
  100: #91d5ff,//light
  700: #0076cb,//dark
  contrast: (
    500: $light-primary-text,
    100: $dark-primary-text,
    700: $light-primary-text,
  )
);
$mat-app-red: (
  500: #ff3051,//primary
  100: #ff6d7d,//light
  700: #c40029,//dark
  contrast: (
    500: $light-primary-text,
    100: $dark-primary-text,
    700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dev-jobs-primary: mat-palette($mat-app-blue);
$dev-jobs-accent: mat-palette($mat-app-red);

// The warn palette is optional (defaults to red).
$dev-jobs-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dev-jobs-theme: mat-light-theme((
  color: (
    primary: $dev-jobs-primary,
    accent: $dev-jobs-accent,
    warn: $dev-jobs-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dev-jobs-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
footer { background-color: mat-color($mat-app-red, 500); color:  mat-color($mat-app-red, '500-contrast');}
