<header class="header-page" style="height: 357px;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <img alt="logo of project" class="logo-project" height="212px" src="../../assets/logo.svg" alt="">
        <h1 class="title">Dev Jobs Community</h1>
</header>
<article fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="115px">
    <h2>A helper for devs looking for opportunities</h2>
    <h3>This project is to bring together the github repositories with offers of vacancies available in different areas.</h3>
    <p class="mat-body-strong">this project is functional, but it aims to apply my knowledge with development and study automated tests in angular.</p>
</article>