<article fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap='16px'>
    <img id="logo-project" height="200px" src="../../assets/logo.svg" alt="">
    <header fxLayout='column' fxLayoutAlign='center center'>
        <h1>Dev Jobs Community is a helper for devs looking for opportunities</h1>
        <h2>This project is to bring together the github repositories with offers of vacancies available in different areas</h2>
    </header>
    <section fxLayout='row'>
        <p>the best way to receive notifications of new vacancies is to follow the repositories of interest, the repositories currently listed by this site are:</p>
    </section>
</article>